<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="
	    http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd
">


	<!--注册bean工厂后置处理器-->
	<bean id="iocTestBeanFactoryPostProcessor" class="com.xjfuuu.IocTestBeanFactoryPostProcessor"/>
	<!--注册bean后置处理器-->
	<bean id="iocTestBeanPostProcessor" class="com.xjfuuu.IocTestBeanPostProcessor"/>

	<!--注册iocTestBean-->
<!--	<bean id="iocTestBean" class="com.xjfuuu.IocTestBean"></bean>-->

	<!--循环依赖问题-->
	<bean id="iocTestBean" class="com.xjfuuu.IocTestBean">
		<property name="iocDependBean" ref="iocDependBean"/>
	</bean>
	<bean id="iocDependBean" class="com.xjfuuu.IocDependBean">
		<property name="iocTestBean" ref="iocTestBean"/>
	</bean>


	<!--aop配置-->
	<!--横切逻辑-->
	<bean id="aopTestLogUtils" class="com.xjfuuu.AopTestLogUtils"></bean>
	<bean id="aopTestBean" class="com.xjfuuu.AopTestBean"></bean>

	<aop:config>
		<aop:aspect ref="aopTestLogUtils">
			<aop:before method="beforeMethod" pointcut="execution(public void com.xjfuuu.AopTestBean.print())"/>
		</aop:aspect>
	</aop:config>


</beans>